.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.container {
  padding-top: 80px;
  padding-bottom: 60px;
  background-color: #f2faff;
}

.icon {
  margin-right: 20px;
}

.buttons {
  margin-top: 40px;
}

.cardGrid {
  padding: 20px 0;
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.cardMedia {
  padding-top: 56.25%;
}

.cardContent {
  flex-grow: 1;
}

.footer {
  padding: 50px;
  background-color: #f2faff;
}

.app-icon {
  width: 80px; 
  height: 80px;
}
